<link rel="stylesheet" href="/css/signup.css" />

<div class="container">
  <% if(errorMessage.length > 0 && errorMessage !== '') { %>
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-6 d-flex justify-content-center">
      <div class="alert alert-danger" role="alert"><%= errorMessage[0] %></div>
    </div>
  </div>
  <% } %>
  <% if(validationError.length > 0) { %>
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-6 d-flex justify-content-center">
      <div class="alert alert-danger" role="alert">
        <%= validationError[0].msg %>
      </div>
    </div>
  </div>
  <% } %>
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-6" id="description">Signup Form</div>
  </div>
  <div class="row d-flex justify-content-center mt-2">
    <div class="col-6">
      <form action="/signup" method="POST">
        <div class="form-group">
          <label for="inputEmail">Name</label>
          <input
            type="text"
            class="form-control form_input"
            name="name"
            id="name"
            aria-describedby="nameHelp"
            placeholder="Enter name"
            required
          />
          <div class="invalid-feedback">Field name is required</div>
        </div>

        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input
            type="email"
            name="email"
            class="form-control form_input"
            id="inputEmail"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            required
          />
          <div class="invalid-feedback">Field email is required</div>
        </div>

        <div class="form-group">
          <label for="inputPassword ">Password</label>
          <input
            name="password"
            type="password"
            class="form-control form_input"
            id="inputPassword"
            aria-describedby="emailHelp"
            placeholder="Enter password"
            required
          />
        </div>
        <div class="invalid-feedback">Field password is required</div>
        <button type="submit" class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
</div>
